* {
    margin:0;
    padding:0;
}

*,*::before,*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    // font-weight: 400;
    //line-height: 1.6rem;
}

.container {
    width:  100vw;
    height: 100vh;
    // flex-direction: column;
    // flex-wrap: wrap;

}

.yt-header {
    width: 100%;
    padding: 0 1.6rem;
    height:5.6rem;
    position: fixed;

    color: white;
    background-color: #202020;
}

.content {
    padding-top: 5.6rem;
    display:flex;
    height: 100vh;

}
//////////////////
//// SIDEBAR
.sidebar {
    background-color: #212121;
    width: 17vw;
    height: 100%;
    padding-right: 1.3rem;
    overflow-y: scroll;
    color: white;
}

.sidenav-intro{
    width: 100%;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(255,255, 255, 0.25);
    padding-right: 1.3rem;

    &__header {
        padding-left: 2rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;

    }
    &__item {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }

    &__link {
        text-decoration:none;
        color: white;

    }
}
.yt-copyright {
    margin-top: 1.8rem;
    margin-left: 2rem;
    &__section {

    }

    &__item {
        list-style:none;
    }
    &__link {
        text-decoration: none;
        color: rgba(255,255, 255, 0.25);
        font-size: 1.3rem;

    }
}
.space-bottom {
    margin-bottom: 2rem;
}
.pad-bottom {
    padding-bottom: 2rem;
}

// ::-webkit-scrollbar {
//     width: 1rem;
// }
// ::-webkit-scrollbar-track {
//     background-color: #212121;
// }
// ::-webkit-slider-thumb {
//     background: red;

//     &:hover {
//         background:red;
//     }
// }
//////////////////
////  MAIN CONTENT
.yt-view {
    background-color: #181818;
    width: 83vw;
    height: 100%;
    overflow:hidden;
    color: white;
}

/////////////////////
//// GRID THUMBNAIL 
.grid-thumbnail {
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    justify-content :space-evenly;
    &__item {
        width: 25.54rem;
        padding-left: 1.7rem;
    }
    &__img {
        width: 100%;
        height: 14.34rem;
    }
    &__icon {
        padding-top: 1.2rem;
        margin-right: 1.2rem;
        & img {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;}
    }
    &__description {
        width: 100%;
        display: flex;
        // text-align: center;
    }
    &__content {
        padding-top: 1.2rem;
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__author, &__author,&__vis,&__when {
        font-size: 1.4rem;
        color: rgba(255,255, 255, 0.55);
    }
    &__author {
        & a {
            text-decoration: none;
            color: rgba(255,255, 255, 0.55);
        }

        & a:hover {
            color: whitesmoke;
        }
    }
}